.content {
    height: 230px;

    .items {
        height: inherit;
        display: flex;

        .dealContext {
            height: inherit;
            width: 25%;
            border-right: 1px solid #DADADA;

            .description {
                margin-top: 15px;
                margin-left: 15px;

                g p {
                    font-weight: 400;
                    font-size: 17px;
                    color: #8B96A5
                }

                .timing {
                    text-align: center;
                    display: flex;
                    margin-top: 15px;

                    .day {
                        width: 45px;
                        height: 50px;
                        background: #606060;
                        border-radius: 4px;
                        color: white;
                        line-height: 17px;

                        h3 {
                            padding-top: 10px;
                            font-size: 16px;
                        }

                        span {
                            font-size: 12px;
                        }
                    }

                    .time {
                        margin-left: 8px;
                    }
                }
            }
        }

        .dealItems {
            height: inherit;
            width: 15%;
            border-right: 1px solid #DADADA;

            .image {
                width: 150px;
                height: 130px;
                margin-left: 15px;
                margin-top: 20px;
                .watch{
                    width: 120px;
                    height: 100px;
                    margin-left: 20px;
                }
            }

            p {
                text-align: center;
                padding-top: 10px;
            }

            .deduction {
                width: 62px;
                height: 28px;
                background: #FFE3E3;
                border-radius: 29px;
                margin: 8px auto;
                text-align: center;
                font-size: 14px;
                color: #EB001B;
                line-height: 30px;
            }
        }
    }
}